// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}
a,a:focus,a:hover{
  color: white;
  text-decoration: none;
}
.padding{
  margin-top: 4px;
}
.top_padding{
  margin-top: 50px;
}
.github-fork-ribbon::before {
  background-color: #f80 !important;
}
.github-fork-ribbon::before, .github-fork-ribbon::after {
  height: 2.54em !important;
}
.form-control.btn-success:focus{
  background-color: #5cb85c;
  border-color: #5cb85c;
  box-shadow: none;
  color: #fff;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background: black none repeat scroll 0 0;
  margin-top: 352px;
  color: white;
  position: absolute;
  bottom: 0;
  line-height: 35px;
  width: 100%;
}
.red{
  color: #f00;
  font-size: 22px;
}